html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.page-width {
    width: 960px;
    margin: auto;
}

header {
    background: #2c75ff;
    color: white;
    height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
}

input[type=search] {
    border: 1px solid #dadada;
}

.stock-list {
    width: 100%;
}

.stock-list .chart-column {
    width: 60%;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.push-a-bit {
    margin-left: 2em;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #eee;
}

table tbody tr:hover {
    background: #eee;
}

table thead tr th {
    text-align: left;
}

.price {
    text-align: right;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

#loader {
    text-align: center;
}

#loader-wrapper {
    display: inline-block;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

[class*='col-']:first-of-type {
    padding-left: 0;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.col-1-2 {
    width: 50%;
}
