<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bourse</title>
  <meta name="description" content="A Simple Stock Signals Dashboard">
  <meta name="author" content="Thomas Robinson">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="css/sprite-content-grey600.css">
  <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>
  <section id="bourse-app"></section>

  <script id="bourse-main" type="text/ractive">
    <header>
      <section class="page-width" id="header-content">
        <h2 class="inline">Bourse</h2>
        <form on-submit="search" class="push-a-bit inline">
          <input id="search" type="search" placeholder="Search" value="{{search}}" class="inline hidden"/>
        </form>
      </section>
    </header>

    <section id="loader" class="page-width">
      <div id="loader-wrapper">
        <img src="css/ajax-loader.gif"/>
      </div>
    </section>

    <section id="content" class="page-width hidden">
      <section id="stock-summary" class="grid page-width">
          <stock-lists saved="{{saved}}" recent="{{recent}}"/>
      </section>
      <section id="stock-detail" class="grid page-width">
          <stock-chart selected="{{selected}}"/>
      </section>
    </section>
  </script>

  <script id="stock-lists-widget" type="text/ractive">
    <section id="saved" class="col-1-2">
      <stock-list name="Saved" stocks="{{saved}}">
        <a href="#" on-click="remove(this, i)" class="right"><div class="icon icon-ic_clear_grey600_24dp"></div></a>
      </stock-list>
    </section>
    <section id="recent" class="col-1-2">
      <stock-list name="Recent" stocks="{{recent}}">
        <a href="#" on-click="save(this, i)" class="right"><div class="icon icon-ic_save_grey600_24dp"></div></a>
      </stock-list>
    </section>
  </script>

  <script id="stock-list-widget" type="text/ractive">
    <table class="stock-list">
      <thead>
        <tr>
          <th>{{name}}</th>
          <th id={{name.toLowerCase() + "-chart-column"}} class="chart-column"/>
          <th/>
          <th/>
          </tr>
      </thead>
      <tbody>
        {{#each stocks :i}}
          <tr on-click="selected:{{i}}">
            <td>{{stock}}</td>
            <td>
              <svg width="{{width}}" height="{{height}}">
                <polyline fill="none" stroke="blue" points="{{line(closes(prices), xScale, yScale)}}"/>
              </svg>
            </td>
            <td class="price">{{last_close(prices)}}</td>
            <td>{{>content}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </script>

  <script id="stock-chart-widget" type="text/ractive">
    <section>
      {{#selected}}
        <h6>{{stock}}</h6>
        <div id="detail-chart">
          <svg width="{{width}}" height="{{height}}">
            <polyline fill="none" stroke="blue" points="{{line(closes(prices), xScale, yScale)}}"/>
          </svg>
        </div>
      {{/selected}}
    </section>
  </script>

  <script src='http://cdn.ractivejs.org/latest/ractive.js'></script>
  <script src="js/qry.js"></script>
  <script src="js/http.js"></script>
  <script src="js/bourse.js"></script>
</body>
</html>
